html, body{
	background-color: #f1f2f3;
    font-family: 'Lato';
    font-weight: 300;
    color: #333;
    font-size: 14px;
    line-height: 1.428;
}
a{
	text-decoration: none;
    color: #2196f3;
}
a:hover{
    color: #2196f3;
    text-decoration: underline;
}
ul{
    /*margin: 0;*/
    /*padding: 0;*/
    /*list-style: none;*/
}
h1, h2, h3, h4, h5, h6{
    font-family: inherit;
    font-weight: 300;
    color: inherit;
}
.btn{
    padding: 5px 10px;
    background-color: #2196f3;
    color: #fff;
}
.btn:hover {
   color: #ffffff;
   background-color: #0c7cd5;
}
.container{
	max-width: 970px;
	padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.header{
	height: 60px;
}
.header .brand{
	float: left;
    line-height: 60px;
}
.header .brand a{
	font-size: 22px;
    color: #666666;
}
.header .nav{
	float: right;
    line-height: 60px;
}
.header .nav a{
	float: left;
    padding-left: 15px;
    color: #333333;
}
.header .nav a.active{
    color: #2196f3;
}
.box{
    background: #ffffff;
    padding: 15px;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4); 
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4); 
}
.box p small{
    color: #999;
    margin-left: 40px;
}
.box p b{
    border-left: solid 4px #2196f3;
    padding-left: 15px;
}
.box ul li{
    background-color: #f1f2f3;
}
.box ul li a{
    font-weight: 700;
    line-height: 1.8;
    margin-left: 15px;
}